* {
    box-sizing: border-box;
    position: 0px;
    margin: 0px auto;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.HomBody{ width: 100%;  height: 100%; display: flex;}

.Head{ width: 100%; height: 50px; background-color: #d9edf7;}

.Navar-MenuRight{ width: 280px;  background-color: #d9edf7; height: 785px;}

.Navar-MenuRight-Logo img{ max-width: 110px; }

.Navar_link{ display: flex; align-items: center; padding: 1rem; margin-bottom: 0.1rem; color: #ffffff; transition: 0.5s; width: 100%; height: 57.5px; background: transparent;}

.Navar_link:hover  { background-color: rgb(0, 162, 255); color: black; width: 100%;} 

.Navar_text{ white-space: nowrap; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; font-size: 15px; font-weight: 500;}

.Navar_icon{ margin-right: 0.75rem;}

.Navar-MenuRight1{ width: 175px;  background-color: #95B9C7;  height: 785px; float: left;}

.header { width: 100%; height: 50px; background-color: #95B9C7;  position: -webkit-sticky; position: sticky;  top: 0; z-index: 1;}

.header .icon { color: white; text-align: center; display: none; font-size: 25px; margin: 8px 16px;}

.header .icon:hover { color: cyan;}

.header .box-login { color: white; font-size: 14px; border-left: 1px solid; padding: 15.5px 10px; width: auto; float: right; cursor: pointer;}

.header .box-login .box-login-bottom { height: auto; width: auto; display: none; position: fixed; top: 50px; right: 0px;}

.header .box-login .box-login-bottom button { border: none; padding: 10px; width: 100%; text-align: left; background-color: #0483cc; color: white; font-size: 12px; cursor: pointer;}

.header .box-login .box-login-bottom button:hover { background-color: #295a77;}

#box-t:hover #box-b { display: block;}

i.fa-solid.fa-pen-to-square {
    display: contents;
}

#main { display: flex;}

.enter-information {  width: 30%; padding-right: 24px; margin-left: 25px;}

.text-header { margin: 12px 0 30px;color: #007579; border-bottom: 2px solid #007579; padding-bottom: 10px; display: inline-block;}

.list-product { width: 65%;}

.enter-information-product input,
.enter-information-product select { width: 97%; padding: 8px 10px; margin: 10px 0 16px;  outline: none; border: 1px solid #a9a9a9; border-radius: 6px;}

.enter-information-product label { color: #525252;}

.btns { border-top: 1px solid #333; width: 97%;  padding: 20px 0;  display: flex; justify-content: space-between;}

.btns button { padding: 12px 5%; margin-left: 6px; border: none; outline: none; border-radius: 4px; opacity: 0.8; cursor: pointer; transition: 0.3s;}

.btns button:hover { opacity: 1;}

.btns button:first-child { margin: 0; background-color: #e72300; color: #fff;}

.add-new { background-color: rgba(4, 139, 11); color: #fff;}

.reload-info { background-color: rgb(16, 108, 214); color: #fff;}

.header-list { display: flex; justify-content: space-between; align-items: center;}

.header-list button { width: 90px; height: 40px; margin-right: 20px; border: none; border-radius: 6px; outline: none; background-color: #007579; color: #fff;}

.header-list button i { margin-right: 4px;}

.search { display: flex; justify-content: space-between; width: 97%;}

.search input { width: 82%; padding: 8px;}

.search button { width: 17%; border: none; outline: none; background-color: rgb(0, 162, 255); color: #fff; font-size: 1rem; border-radius: 4px;}

.search button i { margin-right: 4px;}

table { width: 100%; text-align: center; border-collapse: collapse; margin: 16px 0;}

table th { border-top: 1px solid #555; border-left: 1px solid #555; border-bottom: 1px solid #555; padding: 8px 0;}

table th:last-child { border-right: 1px solid #555;}

table td { padding: 4px; border-left: 1px solid #555; border-bottom: 1px solid #555;}

table td:last-child { border-right: 1px solid #555;}

td i { color: #005457; padding: 0 6px; cursor: pointer; transition: 0.3s;}

td i:hover { color: #f05151;}

.table-list-product { width: 97%;}

.table-list-product tr td { max-width: 150px;}

.col-img img { max-width: 70px;}

.col-price { color: rgb(230, 43, 43);}

.quantity { width: 100%; display: flex; align-items: center; justify-content: space-between; font-size: 1.1rem; height: 70px; background-color: #d2eef1; color: black;}

.total-quantity { display: flex; font-family: sans-serif; margin-left: 20px;}

.page { margin-right: 14px;}

.page button { width: 25px; height: 25px; background-color: rgb(0, 162, 255); border-radius: 4px; color: #fff; border: none; outline: none; cursor: pointer; transition: 0.2s;}

.page i { display: flex; justify-content: center; align-items: center;}

.page button:hover { background-color: rgb(23, 23, 230);}

.nav-btn--bar { position: absolute; top: 10px; left: 30px; font-size: 1.5rem; display: none; cursor: pointer; transition: 0.3s;}

.nav-btn--bar:hover { color: #92d39a;}

#nav-respon,
.overlay,
.box-nav-respon { display: none;}

#nav-respon:checked~.overlay,
#nav-respon:checked~.box-nav-respon { display: block;}

.overlay { position: absolute; top: 0; left: 0; right: 0; bottom: -1000px; background-color: rgba(177, 177, 177, 0.5);}

.nav-btn--close { position: absolute; top: 2px; left: 130px; z-index: 2; font-size: 2rem; cursor: pointer; color: #a9a9a9; transition: 0.3s;}

.nav-btn--close:hover { color: #525252;}

ul.Navar_listul { margin-left: -40px;}

.box-nav-respon .nav-menu-respon { width: 160px; background-color: rgb(17, 127, 134); color: rgb(255, 255, 255); position: absolute; top: 0px; left: 0; bottom: -1000px; z-index: 1; padding-top: 40px;}

